<mat-toolbar color="primary">
    <div class="container-fluid">
      <div class="row">
        <div class="col-4">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>home</mat-icon>
          </button>
        </div>
        <div class="col-4 text-center">
          <span>Weather Monitoring Application</span>
        </div>
        <div class="col-4 text-center">
          <div class="row">
            <div class="col-6 text-right">
          <!-- <button mat-raised-button>
            Login
          </button> -->
        </div>
        <div class="col-6 text-right">
          <button mat-icon-button aria-label="Example icon button with a delete icon">
            <mat-icon>logout</mat-icon>
          </button>
        </div>
        </div>
        </div>
      </div>
    </div>
  </mat-toolbar>
