<mat-nav-list>
    <a routerLink="/" mat-list-item>
        <mat-icon mat-list-icon>home</mat-icon>Overview
    </a>
    <a href="/weather" mat-list-item>
        <mat-icon mat-list-icon>assignment</mat-icon>Weather
    </a>
    <a [routerLink]="'/energy'" mat-list-item>
        <mat-icon mat-list-icon>supervisor_account</mat-icon>Energy
    </a>
    <a [routerLink]="'/alarms'" mat-list-item>
        <mat-icon mat-list-icon>list</mat-icon>Alarms
    </a>
    <!-- Transaction Menu   -->
    <a mat-list-item (click)="toggleMenu()">
        <mat-icon mat-list-icon>business</mat-icon>Buildings
        <mat-icon *ngIf="!showMenu">chevron_right</mat-icon>
        <mat-icon *ngIf="showMenu">expand_more</mat-icon>
    </a>
    <mat-nav-list class="sidenav-submenu" *ngIf="showMenu">
        <a mat-list-item> Building 1</a>
        <a mat-list-item> Building 2</a>
        <a mat-list-item> Building 3</a>
        <a mat-list-item> Building 4</a>
        <a mat-list-item> Building 5</a>
        <a mat-list-item> Building 6</a>
        <a mat-list-item> Building 7</a>
        <a mat-list-item> Building 8</a>
    </mat-nav-list>
</mat-nav-list>
